.vscode/
.venv/
logs/
dbt_packages/
target/
models/*
!models/README.md
.prophecy/
prophecy-sources/*
!prophecy-sources/unreferencedSources.yml
.idea/

# dbt ignore files
profiles.yml
.user.yml

__pycache__/
.conda/
condaenv.*.requirements.txt
tests/
environment.yml
requirements.txt